<!DOCTYPE html>
<head>
  <title>Zotcourse - Schedule Planner for UCI</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Quickly plan and create your next quarter's schedule using Zotcourse by Tristan Jogminas."/>
  <link rel="stylesheet" href="{{url_for('static', filename="css/fullcalendar.min.css")}}">
  <link rel="stylesheet" href="{{url_for('static', filename="css/spectrum.css")}}">
  <link rel="stylesheet" href="{{url_for('static', filename="css/toastr.css")}}">
  <link rel="stylesheet" href="{{url_for('static', filename="css/main.css")}}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="icon" type="image/png" href="{{url_for('static', filename="favicon.png")}}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/split.js/1.5.9/split.min.js"></script>
  <script src="{{url_for('static', filename="js/fullcalendar.min.js")}}"></script>
  <script src="{{url_for('static', filename="js/spectrum.js")}}"></script>
  <script src="{{url_for('static', filename="js/toastr.min.js")}}"></script>
  <script src="{{url_for('static', filename="js/ics.deps.min.js")}}"></script>
  <script src="{{url_for('static', filename="js/lscache.min.js")}}"></script>
  <script src="{{url_for('static', filename="js/zotcourse.js")}}"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129912319-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-129912319-1');
  </script>
</head>
<body>
  <div id="scheduleNameForPrint"></div>
  <div id="upper">
    <div id="main-nav">
        <h5><a target="_blank" href="https://github.com/jogplus/zotcourse">Zotcourse</a> - Schedule Planner for UCI</h5>
        <a id="name">by Tristan Jogminas</a>
    </div>
    <div id="cal-ctrl">
      <div class="space1">&nbsp;</div>
      <button id="whatsnew" class="btn btn-sm btn-outline-primary">
        <i class="fas fa-info-circle"></i>
      </button>
      <button type="button" id="finals-btn" class="btn btn-sm btn-outline-primary">
        Finals  <i class="fas fa-book"></i>
      </button>
      <button type="button" id="list-btn" class="btn btn-sm btn-outline-primary" data-term="{{default_term | safe}}">
        List  <i class="fas fa-list"></i>
      </button>
      <button type="button" id="event-btn" class="btn btn-sm btn-outline-primary">
        Event  <i class="fas fa-plus"></i>
      </button>
      <button type="button" id="print-btn" class="btn btn-sm btn-outline-primary" >
        Print  <i class="fas fa-print"></i>
      </button>
      <button type="button" id="save-btn" class="btn btn-sm btn-outline-primary">
        Save  <i class="fas fa-save"></i>
      </button>
      <button type="button" id="load-btn" class="btn btn-sm btn-outline-primary">
        Load  <i class="fas fa-download"></i>
      </button>
      <button type="button" id="load-ap-btn" class="btn btn-sm btn-outline-primary">
        Import  <i class="fas fa-truck-moving"></i>
      </button>
      <button type="button" id="export-btn" class="btn btn-sm btn-outline-primary">
        Export  <i class="fas fa-file-export"></i>
      </button>
      <button type="button" id="clear-cal-btn" class="btn btn-sm btn-outline-primary">
        Clear  <i class="fas fa-ban"></i>
      </button>
      <button type="button" id="resize-btn" class="btn btn-sm btn-outline-primary">
        Size  <i class="fas fa-expand"></i>
      </button>
      <button type="button" class="btn btn-sm btn-link" disabled>
        Enrolled Units:  <b id="unitCounter">0</b>
      </button>
    </div>
  </div>
  <div id="left">
    <div id="cal"></div>
    <div id="finals"></div>
  </div>
  <div id="right">
    <div id="soc"></div>
    <div id="search">
      <h5 class="display-5" style="padding-bottom: 10px">Schedule of Classes</h1>
        <form action="{{url_for('websoc_search')}}" id="search-form" method="GET">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text search-top">Term</label>
            </div>
            <select name="YearTerm" class="custom-select">
              {{terms | safe}}
            </select>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text search-top">General Ed</label>
            </div>
            <select name="Breadth" class="custom-select">
              {{general_eds | safe}}
            </select>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text search-top">Department</label>
            </div>
            <select name="Dept" class="custom-select">
              {{departments | safe}}
            </select>
          </div>
          <div class="form-row">
            <div class="col">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text search-top">Course Code</label>
                </div>
                <input name="CourseCodes" class="form-control" placeholder="ex. 14200, 29000-29100">
              </div>
            </div>
            <div class="col">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text">Course Number</label>
                </div>
                <input name="CourseNum" class="form-control" placeholder="ex. H2A, 5, 10-20">
              </div>
            </div>
          </div>
          <div id="moreOptions" style="display: none;">
            <hr/>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text">Title Contains</label>
              </div>
              <input name="CourseTitle" class="form-control">
            </div>
            <div class="form-row">
              <div class="col">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text">Instructor</label>
                  </div>
                  <input name="InstrName" class="form-control">
                </div>
              </div>
              <div class="col">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text">Course Level</label>
                  </div>
                  <select name="Division" class="custom-select">
                    <option value="ANY" selected="selected">Any course division</option>
                    <option value="0xx">Lower Division only</option>
                    <option value="1xx">Upper Division only</option>
                    <option value="2xx">Graduate/Professional only</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text">Course Type</label>
                  </div>
                  <select name="ClassType" class="custom-select">
                    <option value="ALL" selected="selected">All Course Types</option>
                    <option value="ACT">Activity</option>
                    <option value="COL">Colloquium</option>
                    <option value="DIS">Discussion</option>
                    <option value="FLD">Field Work</option>
                    <option value="LAB">Laboratory</option>
                    <option value="LEC">Lecture</option>
                    <option value="QIZ">Quiz</option>
                    <option value="RES">Research</option>
                    <option value="SEM">Seminar</option>
                    <option value="STU">Studio</option>
                    <option value="TAP">Tut Assist Prog</option>
                    <option value="TUT">Tutorial</option>
                  </select>
                </div>
              </div>
              <div class="col">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text">Units</label>
                  </div>
                  <input name="Units" type="number" class="form-control">
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text">Days</label>
                  </div>
                  <input name="Days" class="form-control" placeholder="ex. MWF, TuTh, W">
                </div>
              </div>
              <div class="col">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text">Starts After</label>
                  </div>
                  <select name="StartTime" class="custom-select">
                    <option selected="selected" value="">&nbsp;</option>
                    <option>7:00am</option>
                    <option>8:00am</option>
                    <option>9:00am</option>
                    <option>10:00am</option>
                    <option>11:00am</option>
                    <option>12:00pm</option>
                    <option>1:00pm</option>
                    <option>2:00pm</option>
                    <option>3:00pm</option>
                    <option>4:00pm</option>
                    <option>5:00pm</option>
                    <option>6:00pm</option>
                    <option>7:00pm</option>
                    <option>8:00pm</option>
                    <option>9:00pm</option>
                  </select>
                </div>
              </div>
              <div class="col">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text">Ends Before</label>
                  </div>
                  <select name="EndTime" class="custom-select">
                    <option selected="selected" value="">&nbsp;</option>
                    <option>7:00am</option>
                    <option>8:00am</option>
                    <option>9:00am</option>
                    <option>10:00am</option>
                    <option>11:00am</option>
                    <option>12:00pm</option>
                    <option>1:00pm</option>
                    <option>2:00pm</option>
                    <option>3:00pm</option>
                    <option>4:00pm</option>
                    <option>5:00pm</option>
                    <option>6:00pm</option>
                    <option>7:00pm</option>
                    <option>8:00pm</option>
                    <option>9:00pm</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text">Courses Full Option</label>
              </div>
              <select name="FullCourses" class="custom-select">
                <option value="ANY" selected="selected">&nbsp;</option>
                <option value="SkipFullWaitlist">Include full courses if space on waitlist</option>
                <option value="SkipFull">Skip courses that are full</option>
                <option value="FullOnly">Show only full or waitlisted courses</option>
                <option value="OverEnrolled">Show only courses that are over-enrolled</option>
              </select>
            </div>
          </div>
          <div class="input-group mb-3">
              <button type="submit" class="btn btn-primary">Submit Search</button>
              <button type="reset" class="btn btn-link btn-sm" value="Reset">Reset</button>
              <button type="button" id="moreOptionsButton" class="btn btn-link btn-sm" style="margin-left: auto;">Show More Options...</button>
          </div>
          <div id="loading" class="lds-ring" style="display:none"><div></div><div></div><div></div><div></div></div>
          <input type="checkbox" name="ShowComments" checked="checked" style="display: none">
          <input type="checkbox" name="ShowFinals" checked="checked" style="display: none">
          <input id="moreOptionsClosed" type="checkbox" checked="checked" style="display: none">
        </form>
      </body>
    </div>
  </div>
  <div id="popover-html">
    <div id="whatsnew-html">
      <ul style="list-style-type:disc;">
      <li>Click on a calendar event for more course info</li>
      <li>Change course event color</li>
      <li>RateMyProfessor links</li>
      <li>View your finals\' schedule</li>
      <li>View all your courses\' info using the List button</li>
      <li>Create a custom event</li>
      <li>Enrolled unit counter</li>
      <li>Import schedule from Antplanner</li>
      <li>Resizable panes</li>
      </ul>
      <a href="https://goo.gl/forms/YdeevICkr4Ei6HHg1" target="_blank">Bugs or Suggestions?</a>
    </div>
    <div id="event-html">
      <div>
        <input id="event-name" type="text" placeholder="Event Name" class="form-control form-control-lg">
        <div style="display: flex; justify-content: space-between; width:100%">
          <select id="event-start" class="time custom-select">
            <option value="07:00">7:00am</option>
            <option value="07:30">7:30am</option>
            <option value="08:00">8:00am</option>
            <option value="08:30">8:30am</option>
            <option value="09:00">9:00am</option>
            <option value="09:30">9:30am</option>
            <option value="10:00">10:00am</option>
            <option value="10:30">10:30am</option>
            <option value="11:00">11:00am</option>
            <option value="11:30">11:30am</option>
            <option value="12:00" selected>12:00pm</option>
            <option value="12:30">12:30pm</option>
            <option value="13:00">1:00pm</option>
            <option value="13:30">1:30pm</option>
            <option value="14:00">2:00pm</option>
            <option value="14:30">2:30pm</option>
            <option value="15:00">3:00pm</option>
            <option value="15:30">3:30pm</option>
            <option value="16:00">4:00pm</option>
            <option value="16:30">4:30pm</option>
            <option value="17:00">5:00pm</option>
            <option value="17:30">5:30pm</option>
            <option value="18:00">6:00pm</option>
            <option value="18:30">6:30pm</option>
            <option value="19:00">7:00pm</option>
            <option value="19:30">7:30pm</option>
            <option value="20:00">8:00pm</option>
            <option value="20:30">8:30pm</option>
            <option value="21:00">9:00pm</option>
            <option value="21:30">9:30pm</option>
          </select>
          <span style="padding-top: 10px; margin-left:10px; margin-right:10px">to</span>
          <select id="event-end" class="time custom-select">
            <option value="07:30">7:30am</option>
            <option value="08:00">8:00am</option>
            <option value="08:30">8:30am</option>
            <option value="09:00">9:00am</option>
            <option value="09:30">9:30am</option>
            <option value="10:00">10:00am</option>
            <option value="10:30">10:30am</option>
            <option value="11:00">11:00am</option>
            <option value="11:30">11:30am</option>
            <option value="12:00">12:00pm</option>
            <option value="12:30">12:30pm</option>
            <option value="13:00" selected>1:00pm</option>
            <option value="13:30">1:30pm</option>
            <option value="14:00">2:00pm</option>
            <option value="14:30">2:30pm</option>
            <option value="15:00">3:00pm</option>
            <option value="15:30">3:30pm</option>
            <option value="16:00">4:00pm</option>
            <option value="16:30">4:30pm</option>
            <option value="17:00">5:00pm</option>
            <option value="17:30">5:30pm</option>
            <option value="18:00">6:00pm</option>
            <option value="18:30">6:30pm</option>
            <option value="19:00">7:00pm</option>
            <option value="19:30">7:30pm</option>
            <option value="20:00">8:00pm</option>
            <option value="20:30">8:30pm</option>
            <option value="21:00">9:00pm</option>
            <option value="21:30">9:30pm</option>
            <option value="22:00">10:00pm</option>
          </select>
        </div>
        <div style="display: flex; justify-content: space-between; width:100%; margin-top: 10px" class="weekDays-selector">
          <input type="checkbox" name="weekday-check" data="1" id="weekday-mon" class="weekday" />
          <label for="weekday-mon">M</label>
          <input type="checkbox" name="weekday-check" data="2" id="weekday-tue" class="weekday" />
          <label for="weekday-tue">T</label>
          <input type="checkbox" name="weekday-check" data="3" id="weekday-wed" class="weekday" />
          <label for="weekday-wed">W</label>
          <input type="checkbox" name="weekday-check" data="4" id="weekday-thu" class="weekday" />
          <label for="weekday-thu">T</label>
          <input type="checkbox" name="weekday-check" data="5" id="weekday-fri" class="weekday" />
          <label for="weekday-fri">F</label>
        </div>
        <div style="display: flex;  justify-content: center;">
          <button id="event-button" class="btn btn-primary" type="button">Add Event</button>
        </div>
      </div>
    </div>
    <div id="export-html">
      <div class="input-group input-group-sm mb-3">
        <div style="padding-bottom: 8px">Downloads an .ics file which can import your courses into Google Calendar. 
            <a target="_blank" href="https://support.google.com/calendar/answer/37118#import_to_gcal">Click here to learn how.</a>
        </div>
        <div style="margin:auto;">
            <button id="export-button" class="btn btn-primary" type="button">Download</button>
        </div>
      </div>
    </div>
    <div id="full-event-html">
      <table style="width:100%; margin-bottom:3%;">
        <tr>
          <td>Name</td>
          <td></td>
          <td align="right" id="full-event-name"></td>
        </tr>
        <tr>
          <td>Code</td>
          <td></td>
          <td align="right" id="full-event-code"></td>
        </tr>
        <tr>
          <td>Location</td>
          <td></td>
          <td align="right" id="full-event-location"></td>
        </tr>
        <tr>
          <td>Instructor</td>
          <td>&nbsp;&nbsp;</td>
          <td align="right" id="full-event-instructor"></td>
        </tr>
        <tr>
          <td>Color</td>
          <td></td>
          <td align="right" id="full-event-colorpicker"><input type="text"/></td>
        </tr>
      </table>
      <button style="width:100%" class="btn btn-sm btn-outline-primary delete-event">Remove <i class="fas fa-trash-alt"></i></button>
    </div>
    <div id="custom-event-html">
      <table style="width:100%; margin-bottom:3%">\
        <tr>
          <td>Color</td>
          <td></td>
          <td align="right"><input id="colorpicker-'+colorpickerId+'" type="text"/></td>
        </tr>
      </table>
      <button style="width:100%" class="btn btn-sm btn-outline-primary delete-event">Remove <i class="fas fa-trash-alt"></i></button>
    </div>
    <div id="final-event-html">
      <table style="width:100%">
        <tr>
          <td>Name</td>
          <td></td>
          <td align="right" id="final-event-name"></td>
        </tr>
        <tr>
          <td>Code</td>
          <td></td>
          <td align="right" id="final-event-code"></td>
        </tr>
        <tr>
          <td>Date</td>
          <td></td>
          <td align="right" id="final-event-date"></td>
        </tr>
        <tr>
          <td>Instructor</td>
          <td>&nbsp;&nbsp;</td>
          <td align="right" id="final-event-instructor"></td>
        </tr>
      </table>
    </div>
    <div id="load-ap-html">
      <div class="input-group input-group-sm mb-3">
        <div style="padding-bottom: 8px">Note: Not all course info will be available in event popup.</div>
        <input id="load-ap-input" type="text" class="form-control" placeholder="Schedule Name" aria-label="Schedule\'s AP load name" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button id="load-ap-button" class="btn btn-outline-primary" type="button">Submit</button>
        </div>
      </div>
    </div>
    <div id="load-html">
      <div class="input-group input-group-sm mb-3">
        <input id="load-input" type="text" class="form-control" placeholder="Schedule Name" aria-label="Schedule\'s load name" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button id="load-button" class="btn btn-outline-primary" type="button">Submit</button>
        </div>
      </div>
      <div id="load-recent"></div>
    </div>
  </div>
</body>