<!DOCTYPE html>
<head>
  <title>Zotcourse - Schedule Planner for UCI</title>
  <link rel="stylesheet" href="{{url_for('static', filename="css/fullcalendar.min.css")}}">
  <link rel="stylesheet" href="{{url_for('static', filename="css/spectrum.css")}}">
  <link rel="stylesheet" href="{{url_for('static', filename="css/toastr.css")}}">
  <link rel="stylesheet" href="{{url_for('static', filename="css/reset.css")}}">
  <link rel="stylesheet" href="{{url_for('static', filename="css/main.css")}}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  <link rel="icon" type="image/png" href="{{url_for('static', filename="favicon.png")}}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
  <script src="{{url_for('static', filename="js/fullcalendar.min.js")}}"></script>
  <script src="{{url_for('static', filename="js/spectrum.js")}}"></script>
  <script src="{{url_for('static', filename="js/toastr.min.js")}}"></script>
  <script src="{{url_for('static', filename="js/zotcourse.js")}}"></script>
</head>
<body>
  <div id="scheduleNameForPrint"></div>
  <div id="upper">
    <div id="main-nav">
        <h5><a target="_blank" href="https://github.com/jogplus/zotcourse">Zotcourse</a> - Schedule Planner for UCI <a id="name">by Tristan Jogminas</a></h5>
    </div>
    <div id="cal-ctrl">
      <div class="space1">&nbsp;</div>
      <a href="#" id="whatsnew" class="btn btn-sm btn-outline-primary">
        <i class="fas fa-bell"></i>
      </a>
      <button type="button" id="print-btn" class="btn btn-sm btn-outline-primary" >
        Print  <i class="fas fa-print"></i>
      </button>
      <button type="button" id="save-btn" class="btn btn-sm btn-outline-primary">
        Save  <i class="fas fa-save"></i>
      </button>
      <button type="button" id="load-btn" class="btn btn-sm btn-outline-primary">
        Load  <i class="fas fa-download"></i>
      </button>
      <button type="button" id="load-ap-btn" class="btn btn-sm btn-outline-primary">
        Import  <i class="fas fa-truck-moving"></i>
      </button>
      <button type="button" id="clear-cal-btn" class="btn btn-sm btn-outline-primary">
        Clear  <i class="fas fa-ban"></i>
      </button>
      <button type="button" id="resize-btn" class="btn btn-sm btn-outline-primary">
        Size  <i class="fas fa-expand"></i>
      </button>
    </div>
  </div>
  <div id="left">
    <div id="cal"></div>
  </div>
  <div id="right">
    <iframe src="{{url_for('websoc_search_form')}}" id="soc" frameborder="0"></iframe>
  </div>
</body>