<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Zotcourse - Search</title>
  <link rel="stylesheet" href="{{url_for('static', filename="css/reset.css")}}">
  <link rel="stylesheet" href="{{url_for('static', filename="css/main.css")}}">
  <link rel="stylesheet" href="{{url_for('static', filename="css/search.css")}}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
  <!-- <form action="{{url_for('websoc_search_form')}}" method="post">
    <div>
      
    </div>

    <button type="submit" class="btn btn-sm btn-primary search-btn">Submit Search</button>
    <a href="/websoc/search" class="link">reset</a>
  </form> -->
  <h5 class="display-5">Schedule of Classes</h1>
  <form>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Term</label>
      </div>
      <select class="custom-select" id="inputGroupSelect01">
        <option selected>Choose...</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">General Ed</label>
      </div>
      <select class="custom-select" id="inputGroupSelect01">
        <option selected>Choose...</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Department</label>
      </div>
      <select class="custom-select" id="inputGroupSelect01">
        <option selected>Choose...</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Course Code</label>
      </div>
      <input type="number" class="form-control" placeholder="14200, 29000-29100">
    </div>
    <div class="input-group mb-3">
        <button type="submit" class="btn btn-primary">Submit Search</button>
        <button type="reset" class="btn btn-link btn-sm" value="Reset">Reset</button>
        <button class="btn btn-link btn-sm" style="margin-left: auto;">More Search Options</button>
        <!-- <a href="#" class="col-sm-3 col-form-label" style="float: right;">More search options.</a> -->
    </div>
    <!-- <div class="form-group row">
      <label for="inputTerm" class="col-sm-2 col-form-label">Term:</label>
      <div class="col-sm-10">
        <select id="inputTerm" class="custom-select">
          <option selected>Open this select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div> -->
    <!-- <div class="form-group row">
      <label for="inputGeneralEd" class="col-sm-2 col-form-label">General Ed:</label>
      <div class="col-sm-10">
        <select id="inputGeneralEd" class="custom-select">
          <option selected>Open this select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div> -->
    <!-- <div class="form-group row">
      <label for="inputDepartment" class="col-sm-2 col-form-label">Department:</label>
      <div class="col-sm-10">
        <select id="inputDepartment" class="custom-select">
          <option selected>Open this select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div> -->
    <!-- <div class="form-group row">
      <label for="inputCourseCode" class="col-sm-2 col-form-label">Course Code:</label>
      <div class="col-sm-10">
        <input class="form-control" id="inputCourseCode" placeholder="14200, 29000-29100">
      </div>
    </div> -->
    <!-- <div class="input-group mb-3">
      <a href="#" class="col-sm-3 col-form-label">More search options.</a>
    </div> -->
    <!-- <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Submit Search</button>
        <button type="reset" class="btn btn-link btn-sm" value="Reset">Reset</button>
      </div>
    </div> -->
  </form>
</body>
</html>
