html, body {
	height: 100%;
}

.fc-day-header {
	font-weight: normal;
}

#left {
	height: 100%;
	width: 45%; 
	float: left;
}

#right {
	width: 55%;
	height: 100%;
	float: left;
	background-color: #F9F9F9;
}

#cal {
	overflow: hidden;
}

#soc {
	height: 100%;
	display: none;
	overflow: hidden;
}

#upper {
	overflow: auto;
	padding: 5px;
	position: relative;
}

#upper h1 {
	line-height: 20px;
}

#scheduleNameForPrint {
	display : none;
}

.input-group > .twitter-typeahead {
	flex: 1 1 auto;
	width: auto;
 }

.input-group> .twitter-typeahead > .form-control:not(:first-child) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0; 
}

#finals {
	display: none;
	position: relative;
	overflow: hidden;
}

#event-name {
	margin-bottom: 10px;
}

.cursor-pointer {
	cursor: pointer;
}

div.code-cell:hover{
	color: #0056b3;
    text-decoration: underline;
}

@media print {
	#left {
		width: 100%;
	}

	#upper, #soc, #right {
		display: none;
	}

	.fc-scroller,
	.fc-day-grid-container,
	.fc-time-grid-container {
		overflow: visible !important;
		height: auto !important; 
	}

	.fc-row {
		border: 0 !important;
		margin: 0 !important; 
	}

	.gutter {
		width: 0px !important;
	}

	.fc-title{
		font-size: 1.3em !important;
	}

	.fc-time > span {
		font-size: 1.3em !important;
	}

	.fc-time-grid-event, .fc-v-event .fc-event, .fc-start, .fc-end {
		-webkit-print-color-adjust: exact;
	}

	td .fc-axis > span {
		font-size: 1em;
		position:relative;
		top:-15px;
	}

	#toast-container {
		display: none;
	}

	th, td, tr {
		border: 2px solid  #bfbfbf;
	}

	.fc-minor {
		border-top: 3px dotted  #bfbfbf !important;
	}

	.fas {
		display: none;
	}
}

.fc-today
{
  background-color:inherit !important;
}

.popover {
	max-width: 20em !important;
}

.gutter {
	background-color: #007bff;
	display: flex;
	align-items: center;
	justify-content: center;
	float: left;
}

.gutter.gutter-horizontal {
	cursor: ew-resize;
}

.fa-ellipsis-v {
	color: #fff;
	font-size: .75em;
}

.link {
	font-family: sans-serif;
	color: #007bff;
	text-decoration: underline;
}

.search-top {
	min-width: 120px; 
}

.dt-buttons {
    position: relative;
    float: left;
}

.dt-button.btn {
    line-height: 1.25;
}

.dt-button-collection {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    margin-top: 3px;
    padding: 8px 8px 4px 8px;
    border: 1px solid #ced4da;
    border: 1px solid rgba(0,0,0,0.4);
    background-color: white;

    z-index: 2002;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
    box-sizing: border-box;
}

.dt-button-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2001;
}

.dt-buttons {
	margin-left: 5px;
	margin-bottom: 5px;
}

.buttons-columnVisibility {
	cursor: pointer;
	display: inline-block;
	width: 100%;
	margin-bottom: 4px;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.25;
	border-radius: 0.25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

	color: #007bff;
    background-color: transparent;
    background-image: none;
    border-color: #007bff;
}

/* .buttons-columnVisibility:hover {
	color: #007bff;
    background-color: transparent;
    border-color: #007bff;
} */

.buttons-columnVisibility.active {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}

/* .buttons-columnVisibility.active:hover {
	color: #fff;
	background-color: #0069d9;
	border-color: #0062cc;
} */

.btn-group.btn-group-flex {
	display: flex;
  }
  
.btn-group-flex .btn {
	flex: 1
}


.dataTables_filter input {
	border: 1px solid #ced4da;
	margin-right: 5px;
	padding: .25rem .5rem;
    font-size: 1rem;
    line-height: 1.5;
	border-radius: .2rem;
}

.toolbar-btn {
	border-color: transparent;
	background-color: white !important;
}

.toolbar-btn:hover {
	color: #007bff !important;
    background-color: transparent !important;
    border-color: transparent !important;
}

.toolbar-btn.active {
    color: #fff !important;
    background-color: #007bff !important;
    border-color: transparent !important;
}


.toolbar-btn.active:hover {
    color: #fff !important;
    background-color: #007bff !important;
    border-color: transparent !important;
}


/* .dt-button.btn {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0.25rem;
	background: none;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.dt-button.btn-primary {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}
  
.dt-button.btn-primary:hover {
	color: #fff;
	background-color: #0069d9;
	background: none;
	border-color: #0062cc;
}
  
.dt-button.btn-primary:focus, .dt-button.btn-primary.focus {
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.dt-button.btn-sm, .dt-button.btn-group-sm > .dt-button.btn {
	padding: 0.25rem 0.5rem;
	font-size: 0.875rem;
	line-height: 1.5;
	border-radius: 0.2rem;
} */

.btn-link:disabled, .btn-link.disabled {
	color: #333 !important;
	opacity: 1 !important;
}

.time {
	width: 40%;
	height: 50%
}

.weekDays-selector input {
  display: none!important;
}

.weekDays-selector input[type=checkbox] + label {
  display: inline-block;
  border-radius: .25rem;
  background: #e9ecef;
  height: 30px;
  width: 30px;
  margin-right: 3px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}

.weekDays-selector input[type=checkbox]:checked + label {
  background: #007bff;
  color: #ffffff;
}

.fc-event {
	cursor: pointer;
}

.overlay {
	position: absolute;
	background: rgba(255,0,0,0.1);
	left: 0em;
	right: 0em;
	height: 1em;
	padding: 0em !important;
	text-align: center;
}

.lds-ring {
	display: inline-block;
	position: relative;
	width: 64px;
	height: 64px;
}
.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 51px;
	height: 51px;
	margin: 6px;
	border: 6px solid #007bff;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #007bff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}
@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
} 

@media screen and (max-width: 800px) {
	.fc-title{
		font-size: .65rem !important;
		line-height: 1.0 !important;
	}
	
	.fc-time > span {
		font-size: .55rem !important;
	}

	.fc-axis > span {
		font-size: .85rem !important;
	}
}

.fc-title{
	font-size: .80rem;
	line-height: 1.0;
}

.fc-time > span {
	font-size: .65rem;
}

.fc-axis > span {
	font-size: .85rem;
}

#search {
	padding: 20px;
	overflow-x: hidden;
	display: flex;
}

.select2 {
	color: #495057
}

.button-shadow {
	z-index: auto;
	position: relative;
}
.button-shadow::before {
	content: '';
	position: relative;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	border-radius: inherit;
	box-shadow: 0 0rem 1rem rgba(0, 0, 0, .33);
	z-index: -1;
}
.button-shadow:hover::before {
	box-shadow: 0 0rem 1rem rgba(0, 0, 0, .33);
}

/* Dashboard */

table.dataTable tr:nth-child(odd) td:nth-child(odd):not(.dataTables_empty) {
	background-color: #D5E5FF;
  }
  
  table.dataTable tr:nth-child(odd) td:nth-child(even) {
	background-color: #FFFFCC;
  }
  
  table.dataTable tr:nth-child(even) td:nth-child(odd) {
	background-color: #DDEEFF;
  }
  
  table.dataTable tr:nth-child(even) td:nth-child(even) {
	background-color: #ffffff;
  }
  
  table.dataTable th {
	background-color: #E7E7E7;
	font-size: 13px !important;
	line-height: 1 !important;
  }
  
  tr.dtrg-level-0 td {
	color: white;
	background-color: navy !important;
	border: 0px;
  }
  
  tr.dtrg-level-2 td {
	background-color: #fff0ff !important;
  }
  
  tr.dtrg-end.dtrg-level-2 td {
	background-color: navy !important;
	height: 4px !important;
	padding: 0px !important;
	border: 0px !important;
	font-size: 10px !important;
	line-height: 1 !important;
  }
  
  .table.dataTable > tbody > tr > td {
	font-size: 13px !important;
	line-height: 1 !important;
  }
  
  .comment {
	background-color: #EfE7Ef;
	white-space: pre-wrap;      /* CSS3 */   
	white-space: -moz-pre-wrap; /* Firefox */    
	white-space: -pre-wrap;     /* Opera <7 */   
	white-space: -o-pre-wrap;   /* Opera 7 */    
	word-wrap: break-word;      /* IE */
  }
  
  .center-text {
	text-align: center;
  }
  
  /* table.dataTable tbody tr.even:hover td {
	cursor: pointer;
	background-color: none !important;
  }
  
  table.dataTable tbody tr.odd:hover td:not(.dataTables_empty) {
	cursor: pointer;
	background-color: none !important;
  }
  
  table.dataTable tbody tr:hover {
	cursor: pointer;
	background-color: none !important;
  } */
  
  div.dataTables_scrollBody tr:not(.dtrg-group):hover {
	color: red;
	cursor: pointer;
  }
  
  table.dataTable tbody tr.selected td {
	box-shadow: inset 0 0 0 100vmax rgba(0,0,0,.15);
	/* background-color: #bbb !important; */
  }
  
  /* table.dataTable tbody tr.selected:hover td {
	background-color: #bbb !important;
  } */
  
  table.dataTable.compact thead th, 
  table.dataTable.compact thead td {
	padding-left: 0px !important;
	padding-right: 15px !important;
  }
  
  .dataTables_processing {
	background: none !important;
  }
  
  /* table.dataTable tbody tr.selected:nth-child(odd):hover td {
	background-color: red !important;
  } */
  
  