html { 
	height: 100%; 
}

body {
	height: 100%;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	color: #333;
	padding: 0;
}

a {
	color: #007bff;
}

#left {
	width: 50%;
	float: left;
	height: calc(100% - 42px);
}

#right {
	width: calc(50% - 5px);
	height: calc(100% - 42px);
	float: left;
	overflow: hidden;
	-webkit-overflow-scrolling: touch; /* for iOS */
	overflow-y: scroll;
	margin-left: 5px;
}

#cal {
	position: relative;
}

#soc {
	height: 100%;
	width: 100%;
	float: left;
	position: relative;
}

#upper {
	overflow: auto;
	padding: 5px;
}

#upper h1 {
	line-height: 20px;
}

#upper #main-nav {
	float: left;
}

#upper #cal-ctrl {
	float: left;
	width: 30em;
}

#main-nav h1 {
	display: inline;
}

#scheduleNameForPrint {
	display : none;
}

.btn {
	border: 1px solid transparent;
	color: #333;
	background-color: #fff;
	border-color: #ccc;
	border-radius: 4px;
	cursor: pointer;
}

.btn:focus {
	outline: 0 none;
}

.btn.active {
	background-color: #e6e6e6;
	border-color: #adadad;
	box-shadow: inset 0 3px 5px rgba(0,0,0,.125)
}

.btn:hover {
	background-color: #e6e6e6;
	border-color: #adadad;
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.btn-primary:hover {
  background-color: #286090;
  border-color: #204d74;
}

@media print {
	#left {
		width: 100%;
	}

	#upper, #soc, #right {
		display: none;
	}

	.fc-scroller,
	.fc-day-grid-container,
	.fc-time-grid-container {
		overflow: visible !important;
		height: auto !important; 
	}

	.fc-row {
		border: 0 !important;
		margin: 0 !important; 
	}

	.ui-resizable-e {
		width: 0px !important;
	}

	.fc-title{
		font-size: 1.6em;
	}

	.fc-time > span {
		font-size: 1.5em;
	}

	.fc-time-grid-event, .fc-v-event .fc-event, .fc-start, .fc-end {
		-webkit-print-color-adjust: exact;
	}

	td .fc-axis > span {
		font-size: 1em;
		position:relative;
		top:-15px;
	}

	#scheduleNameForPrint {
		display : inline-block;
	}

	#toast-container {
		display: none;
	}

	th, td, tr {
		border: 2px solid  #bfbfbf;
	}

	.fc-minor {
		border-top: 3px dotted  #bfbfbf !important;
	}
}

.ui-resizable-e {
	width: 7px;
	background-color: #007bff;
	cursor: ew-resize !important;
}

.fc-today
{
  background-color:inherit !important;
}

.space1
{
	display: inline-block;
	width: 1%;
}

.popover {
	min-width: 20em !important;
}

